.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(88, 115, 254, 0.04);
  padding: 15px;
  .profile {
    display: flex;
    align-items: center;

    p {
      font-size: 16px;
      font-weight: 700;
      color: #252525;
    }

    img {
      cursor: pointer;
    }
  }
}
